@{
    if(@ViewBag.Status == "Admin")
    {
        @Html.Partial("AdminPartial");
    }
    else
    {
        @Html.Partial("UserPartial");
    }
}
<div class="mainCart">
            <div class="tableCart">
                <h2>Current items in your cart</h2>
                <hr>
        @{
            foreach (var item in @ViewBag.Orders)
            {
                <div class="blockCart">
                    <img src="@item.product.Picture" alt="No image available">
                    <h3>@item.product.Title</h3>
                    <p class="priceCart">Quantity: @item.Quantity</p>
                    <p class="priceCart">Price: $@item.product.Price</p>
                    <br>
                    <h4 class="sellerCart">Seller: </h4>
                    <h5 class="deleteCart"><a href="/deleteCart/@item.product.ProductId">Delete</a></h5>
                    <hr>
                    <p class="subtotalCart">Cart subtotal: @item.product.Price+@item.product.Price</p>
                    <hr>
                    <h4 class="checkoutCart"><a href="/purchase/@item.product.ProductId">Purchase</a></h4>
                </div>
            }
        }
    </div>
</div>