@model sellwalker.Models.UpdateUser
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">SellWalker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
              <a href="/home">Feed</a>
          </li>
          <li ><a href="/user/@ViewBag.user">My Profile  <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/settings">Settings</a></li>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" style="color:black"></span> Cart</a></li>
          </li>
          <li><a href="/logout">Log out</a></li>
          </li>
        </ul>
        <form asp-controller="Home" class="navbar-form navbar-right" asp-action="SearchProduct" method="POST">
          <div class="form-group">
            <input type="text" name="result" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="mainSettings">
    <h1>Edit your information</h1>
    <br>
             
        
   
    <div class="left">
        <br>
        <form asp-controller="Home" asp-action="UpdateInfo" method="post"  enctype="multipart/form-data">
            <div class="form-group">
              <label asp-for="FirstName">First Name</label>
              <input  asp-for="FirstName" class="form-control" id="FirstName" type="text" value="@ViewBag.userFirst">
              <span asp-validation-for="FirstName"></span>   
              <br>
              <label asp-for="LastName">Last Name</label>
              <input  asp-for="LastName" class="form-control" id="LastName" type="text" value="@ViewBag.userLast">
              <span asp-validation-for="LastName"></span>   
              <br>
              <label asp-for="Email">Email</label>
              <input  asp-for="Email" class="form-control" id="Email" type="text" value="@ViewBag.userEmail">
              <span asp-validation-for="Email"></span>   
              <br>
              <!-- <label asp-for="Password">Password</label>
              <input asp-for="Password" class="form-control" id="Password" value="">
              <span asp-validation-for="Password"></span>
              <br>
              <label asp-for="ConfirmPassword">Confirm password</label>
              <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword"/>
              <span asp-validation-for="ConfirmPassword"></span> -->
            <br>
            <button type="submit" class="btn btn-default">Save</button>
        <hr>
    </div>
</div>

<div class="right">
        <label asp-for="ProfileImage"><h4>Profile picture</h4></label> 
                <input  asp-for="ProfileImage" type="file" class="form-control" id="ProfileImage">
                <span asp-validation-for="ProfileImage"></span>
                <br>
        @{
            if(@ViewBag.userPic != null)
            {
                 <img src="@ViewBag.userPic">
            }
            else
            {
                <p>Upload new picture</p>
                <img src="~/images/Unknown.png">
            }
        }
        </form>
        
    </div>
    </div>
