@{
    ViewData["Title"] = "Bright Ideas";
}
@model dojoTest.Models.UserPost
<h1>Hey, @ViewBag.UserName</h1>
<h4><a href="/logout">Log out</a></h4>
<hr>
<h2>★ Write something bright here! ★</h2>
@TempData["PostError"]
<form asp-action="CreatePost" asp-controller="Home" asp-method="post">
        <textarea class="form-control" rows="5" name="Content"></textarea>
        <br>
        <button class="btn btn-info" type="submit">Post</button>
</form>
@{
    foreach (var post in @ViewBag.AllPosts)
    {
        <hr>
            <h4><a href="user/@post.UserId">@post.Poster.FirstName</a> says:</h4>
            <p>@post.Content </p>
            <span class="time-right"> @post.Created_At</span>
            @if(@post.Likes.Count == 1)
            {
                <h5><a href="/like/@post.PostId">♡ Like</a> | <a href="/post/@post.PostId"> @post.Likes.Count Like</a></h5>
            }
            else
            {
                <h5><a href="/like/@post.PostId">♡ Like</a> | <a href="/post/@post.PostId"> @post.Likes.Count Likes</a></h5>
            }
            @if(ViewBag.LoggedinUser == @post.UserId)
            {
                <h5><a href="/delete/@post.PostId">Delete</a></h5>
            }
        <hr>

    }
}
